SQLITE_PATH=immunisation-2.db

DB_USER=nguyentienthanh
DB_PASSWORD=YOUR_PASSWORD
DB_HOST=localhost
DB_PORT=5432
DB_NAME=healthatlas

STAGING_SCHEMA=staging
CURATED_SCHEMA=curated
LOG_LEVEL=INFO

# Prefect local scheduler
PREFECT_CRON=0 6 * * *
PREFECT_TIMEZONE=Asia/Ho_Chi_Minh
PREFECT_DEPLOYMENT_NAME=healthatlas-daily
